<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ReportNG Result" verbose="3" thread-count="5">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>		
	<test name="Test Driven Test">
		<classes>
			<class name="gugel.gugelSearch">
			</class>
		</classes>
	</test>
</suite>

